<div class="topnav">
  <a class="active" href="/nurse_dashboard">Home</a>
  <a href="/nurse_vitals">Vital Signs Entry</a>
  <a href="/nurse_prev_vitals">Previous Signs</a> 
  <a href="/nurse_tips">Send Tips</a>
</div>