<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#vital">Vital Signs Entry</a>
    <a href="#alert">Send Alert</a>
    <a href="#tip">View Tips</a>
    <a href="/video">View Videos</a>
    <a href="/symptom">Predict From Symptoms</a>
  </div>