<div class="topnav">
    <a class="active" href="/patient_dashboard">Home</a>
    <a href="/patientalert">Send Alert</a>
    <a href="/patienttips">View Tips</a>
    <a href="/video">View Videos</a>
    <a href="/symptom">Predict From Symptoms</a>
  </div>