<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="css/patient_dashboard/excercises.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>

  <%- include('partials/patient_dashboard_nav') %>

<div style="padding:2%">
  <h3>Here are some exercises that you can perform: </h3>
    <div style='padding-top: 50px'><a href="https://www.youtube.com/watch?v=-cObFTUWx3k" class="btn btn-primary">Exercise 1</a></div>
    <div style='padding-top: 50px'><a href="https://www.youtube.com/watch?v=0KFvh6k73tg" class="btn btn-primary">Exercise 2</a></div>
    <div style='padding-top: 50px'><a href="https://www.youtube.com/watch?v=S17dSa1Vups" class="btn btn-primary">Exercise 3</a></div>   
</div>

</body>
</html>