<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/patient_dashboard/excercises.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>

  <%- include('partials/patient_dashboard_nav') %>

<div align='center'>
    <div style='padding-top: 300px'><a style='font-size: 80%' href="https://www.youtube.com/watch?v=-cObFTUWx3k">exercise 1</a></div>
    <div style='padding-top: 50px'><a style='font-size: 80%' href="https://www.youtube.com/watch?v=0KFvh6k73tg">exercise 2</a></div>
    <div style='padding-top: 50px'><a style='font-size: 80%' href="https://www.youtube.com/watch?v=S17dSa1Vups">exercise 3</a></div>   
</div>

</body>
</html>