<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="css/patient_dashboard/excercises.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>

  <%- include('partials/patient_dashboard_nav') %>

<div style="padding:2%">
  <h3>Here are some exercises that you can perform: </h3>
  <hr>
  <div class="card" style="width: 23rem; margin-left:2%;margin-right:6%;float: left">
    <img class="card-img-top" src="https://img.youtube.com/vi/7o39NrSwfb8/hqdefault.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">70 Bodyweight Cardio Exercises</h5>
      <p class="card-text">There are 70 Bodyweight Cardio Exercises that you can do anywhere, anytime. This is to help your cardiovascular system, 
        and to maintain a healthy heart and lifestyle. Having a good cardiovascular system reduces the risk of many illnesses, including Heart 
        Attacks, Blood Clots, Clotted Artery, and much more.  </p>
      <a href="https://www.youtube.com/watch?v=7o39NrSwfb8" class="btn btn-primary">View Cardio Workouts</a>
    </div>
  </div>

  <div class="card" style="width: 23rem; margin-left: 2%;margin-right:6%;float: left">
    <img class="card-img-top" src="https://img.youtube.com/vi/BGvMCHvZjUY/hqdefault.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Light Resistance Training</h5>
      <p class="card-text">Doing light to moderate resistance training improves your strength, and helps maintain and grow muscle. This is not taxing on the body, 
        but does help growth. This training focuses on breaking down your muscle fibers in your body, and through the consumption of high protein, your
        body then replenishes and rebuilds the broken down fibers. It builds them to be stronger for the next time you do such activities.</p>
      <a href="https://www.youtube.com/watch?v=BGvMCHvZjUY" class="btn btn-primary">View Light Resistance Training</a>
    </div>
  </div>

  <div class="card" style="width: 23rem; margin-left:2%;">
    <img class="card-img-top" src="https://img.youtube.com/vi/8J2pCRDTK9o/hqdefault.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">High Intesity Interval Training</h5>
      <p class="card-text">High Intesity Interval Training (HIIT) is a form of training which is extremely strenuous, and is done in short bursts.
        This kind of training is meant to improve your quick twitch muscles, burns lots of calories in the form of fat, and still helps you build muscle.
        This kind of training is done in short intervals, where you work hard for 30 seconds and rest for 10 seconds, and do this continually.
      </p>
      <a href="https://www.youtube.com/watch?v=8J2pCRDTK9o" class="btn btn-primary">View HIIT Workouts</a>
    </div>
  </div>
</div>

</body>
</html>