<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/nurse_dashboard/nurse_tips.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

  <%- include('partials/nurse_dashboard_nav') %>

<div style="padding: 2%">
    <h3>Send tips to your patients</h3>
  <form method="POST" action="nurse_tips">
		<div class="form-group">
      <label for="patientId">Enter Patient Id:</label>
      <input type="text" class="form-control" name="patientId"><br>
      <label for="title">Title of Comment</label>
      <input type="text" class="form-control" name="title"><br>
			<label for="comment">Comment:</label>
			<textarea class="form-control" rows="5" name="comment" id="comment"></textarea>
    </div>
    <input type="submit" class="btn btn-primary"></input>
  </form>
</div>

</body>
</html>