<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/nurse_dashboard/nurse_vitals.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

  <%- include('partials/nurse_dashboard_nav') %>

<div style="padding: 2%">
    <h3>Please input the vital signs of the patient:</h3>
  <form action="nurse_vitals" method="post" autocomplete="on">
    <div class="form-group">
      <label for="patientId">Enter Patient Id:</label>
			<input type="text" class="form-control" name="patientId" id="patientId">
			
			<label for="bodyTemperature">Body Temperature</label>
			<input type="text" class="form-control" id="bodyTemperature">

			<label for="heartRate">Heart Rate</label>
			<input type="text" class="form-control" id="heartRate">

			<label for="bloodPressure">Blood Pressure</label>
			<input type="text" class="form-control" id="bloodPressure">

			<label for="respitoryRate">Respitory Rate</label>
      <input type="text" class="form-control" id="respitoryRate">
      
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</body>
</html>