<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link href="css/patient_dashboard/patient_dashboard.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>

  <%- include('partials/patient_dashboard_nav') %>

<div style="padding: 2%">
  <h2 style="text-align: center">Patient Dashboard</h2>
  <hr>
  <h4>Welcome to the Patient portal.</h4>
  <p>Here you can: </p>
  <ul class="list-group">
    <li class="list-group-item">Send alerts to your Nurse</li>
    <li class="list-group-item">View tips sent to you by your Nurse</li>
    <li class="list-group-item">View videos on how to live a better lifestyle</li>
    <li class="list-group-item">Check to see what you might have based on your symptoms</li>
  </ul>
</div>

</body>
</html>