<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/nurse_dashboard/nurse_tips.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

  <%- include('partials/patient_dashboard_nav') %>

<div style="padding: 2%">
    <h3>Tips from your nurse</h3>
    <% tips.forEach(function(tip) { %>
      <div class="card" style="width: 18rem;margin-left: 2%;margin-right:2%;float: left"">
        <div class="card-body">
          <h5 class="card-title"><%= tip.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= tip.created %></h6>
          <p class="card-text"><%= tip.comment %></p>
        </div>
      </div>
    <% }); %>

        </div>
        <div></div>
  </form>
</div>

</body>
</html>