<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/patient_dashboard/patient_dashboard.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>

  <%- include('partials/patient_dashboard_nav') %>

<div style="padding-left:16px">
  <h2>Patient Dashboard</h2>
  <p>Some content..</p>
</div>

</body>
</html>