<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/patient_dashboard/results.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
  <%- include('partials/patient_dashboard_nav') %>

<div align='center' style='padding-top: 500px'>
    
    <div style='font-size: 800%'><%= diagnosis%></div>
</div>

</body>
</html>