<!--
Author: Colorlib
Author URL: https://colorlib.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Patient Registration</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/registration.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
<!-- //Date picker Bootstrap -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Patient Registration Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="signup" method="post" autocomplete="on">
					<input class="text" type="text" name="firstName" placeholder="First Name" required="">
					<input class="text" type="text" name="lastName" placeholder="Last Name" required="">
					<input id="datepicker" type="text" onfocus="(this.type='date')" name="dob" placeholder="Date of Birth" required="">
					<div class="wthree-text">
						<label class="text">Gender:</label>
						<label class="anim">
							<input type="radio" name="gender" class="checkbox" value="male" required="">
							<span>Male</span>
						</label>
						<label class="anim">
							<input type="radio" name="gender" class="checkbox" value="female" required="">
							<span>Female</span>
						</label>
						<label class="anim">
							<input type="radio" name="gender" class="checkbox" value="other" required="">
							<span>Other</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="text" name="username" placeholder="Username" required="">
					<input class="text" type="password" name="password" placeholder="Password" required="">
					<!-- <input class="text w3lpass" type="password" name="confirm_password" placeholder="Confirm Password" required=""> -->
					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" value="SIGNUP">
				</form>
				<p>Already have an Account? <a href="/signin"> Login Now!</a></p>
			</div>
		</div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p>© 2020 - Emerging Technologies - Final Project | Credits to <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
		</div>
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
</body>
</html>